.playing-card {
  border: 2px solid transparent;
  border-radius: 0.25rem;

  // height: 100px;
  // width: 71.5px;
  height: 80px;
  width: 57.2px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &.bordered {
    border: 1px solid lightgray;
  }

  &.red {
    background: red;
    color: white;
  }

  &.blue {
    background: blue;
    color: white;
  }

  &.selected {
    border-color: green;
  }
}

.token {
  height: 35px;
  width: 35px;
  border-radius: 50%;

  &.red {
    background: red;
  }

  &.blue {
    background: blue;
  }
}

// $ranks: A 2 3 4;
// $suits: D C H S;

// @each $rank in $ranks {
//   @each $suit in $suits {
//     .card-#{$rank}#{$suit} {
//       // background: '../assets/cards/#{$rank}#{$suit}.svg';
//       background-image: url('../assets/cards/#{$rank}#{$suit}.svg');
//     }
//   }
// }